@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b1));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  @apply font-lexend;
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply rounded-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.tooltip:before {
  @apply bg-accent text-accent-content;
}

.tooltip:after {
  @apply border-b-accent;
}

.border-default {
  @apply rounded-lg border border-gray-200 dark:border-gray-500;
}